@import "../../theme.scss";

.form-login {
  width: 100%;
  height: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  align-content: center;
  display: grid;

  &__btn, &__form-control {
    width: 100%;
    margin-bottom: 10px;
  }

  &__hyperlink {
    display: inline-block;
    text-decoration: underline;
  }

  &__hyperlink:hover {
    color: $primary;
  }
}
