@import "../../theme.scss";

.form-register {
  * {
    display: block;
  }
}

.form-register {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-register__btn {
  width: 100%;
  margin-bottom: 10px;
}

.form-register__hyperlink {
  display: inline-block !important;
}

.form-register__hyperlink:hover {
  color: $primary;
}
