<div class="container-fluid full-size">
  <div class="row" *ngIf="this.cartList?.length != 0">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Profile</th>
            <th>Trường</th>
            <th>shot</th>
            <th>Tác vụ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartList">
            <td [routerLink]="['/detail-person',item.id]">{{item.id}}</td>
            <td [routerLink]="['/detail-person',item.id]">{{item.name}}</td>
            <td [routerLink]="['/detail-person',item.id]"><img src="{{item.pfpUrl}}" class="imag-avatar"></td>
            <td [routerLink]="['/detail-person',item.id]">{{item.university.name}}</td>
            <td>
              <button type="button" class="btn btn-danger bt-UpDown" (click)="Reduced(item.id,item)">-</button>
              <input type="number" style="display: inline-block;" oninput="validity.valid||(value='');"
                (keypress)="CheckCount($event,item)" min="0" [style.width.px]="50" class="form-control"
                value="{{item.quantity}}">
              <button type="button" class="btn btn-success bt-UpDown" (click)="Increase(item.id,item)">+</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="CheckCount(0,item)">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h1 *ngIf="this.cartList?.length == 0 || !this.cartList">Chưa có sản phẩm nào trong giỏ hàng</h1>
</div>
