<!-- Footer -->
<footer class="page-footer Footer-background " >

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 Color-font">FREE TUTORIALS</h5>

          <ul class="list-unstyled Color-font">
            <li>
              <a href="#!">Basic</a>
            </li>
            <li>
              <a href="#!">Angular</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 Color-font">Company</h5>

          <ul class="list-unstyled Color-font">
            <li>
              <a href="#!">Lẩu thái</a>
            </li>
            <li>
              <a href="#!">SSQ</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 Color-font">Nguồn</h5>

          <ul class="list-unstyled Color-font">
            <li>
              <a href="#!">ChangeLog </a>
            </li>
            <li>
              <a href="#!">For Resellers</a>
            </li>
       
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 Color-font">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->