<mat-toolbar color="primary" class="toolbar">
    <button (click)="sidenav.toggle()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <h1><a routerLink="/">Lauthai.org</a></h1>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav-container__sidenav padding-toolbar" #sidenav>
        <mat-nav-list>
            <mat-list-item>
                <a matLine href="#" target="_blank">
                    <mat-icon>dashboard</mat-icon>
                    <span class="link-caption">Dashboard</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a matLine href="#" target="_blank">
                    <mat-icon>card_giftcard</mat-icon>
                    <span class="link-caption">Products</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a matLine routerLink="/login" (click)="sidenav.toggle()">
                    <mat-icon>account_circle</mat-icon>
                    <span class="link-caption">Login</span>
                </a>
            </mat-list-item> 
             <mat-list-item>
                <a matLine routerLink="/register" (click)="sidenav.toggle()">
                    <mat-icon>account_circle</mat-icon>
                    <span class="link-caption">Register</span>
                </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="padding-toolbar">

        <router-outlet></router-outlet>
        <p>footer</p>

    </mat-sidenav-content>
</mat-sidenav-container>
