.toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav {
  min-width: 200px;
}

.padding-toolbar {
  padding-top: 64px;
}

.link-caption {
  padding-left: 5px;
  position: absolute;
  margin-top: 5px;
}
