table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.image-avatar
{
    height: 100px;
    width: 100px;
    margin: 20px;
}
.heart:hover
{
	color: red
}

.mat-column-select {
  overflow: initial;
}