<div class="container-fluid table-overflow" >
	<div class="row">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>image</th>
					<th>info</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td ><img src="{{Profiledetail.pfpUrl}}"></td>
					<td><img src="{{Profiledetail.pfpUrl}}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

                    

<!--                     <td>{{Profiledetail.id}}</td>
					<td>{{Profiledetail.name}}</td>
					<td>{{Profiledetail.university.name}}</td>
					<td>{{Profiledetail.job}}</td>
					<td>{{Profiledetail.age}}</td> -->