<h1 mat-dialog-title>Tạo profile mới</h1>
<div mat-dialog-content>
  <form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Họ</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Tên</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Trường</mat-label>
        <textarea matInput placeholder="Ex. HUFLIT"></textarea>
      </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Công việc hiện tại</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Tình trạng hôn nhân</mat-label>
            <input matInput placeholder="">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Địa chỉ</mat-label>
            <input matInput placeholder="Ex. Quận 10">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+84 &nbsp;</span>
            <input type="tel" matInput placeholder="771234567">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
