<h1 mat-dialog-title>Tạo profile mới</h1>
<div mat-dialog-content>
  <form [formGroup]="createForm" class="create-form">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Họ tên</mat-label>
            <input formControlName="name" matInput>
          </mat-form-field>
          <p class="input-alert" *ngIf="createForm.get('name').hasError('required') && createForm.get('name').touched">Cần nhập họ và tên </p>
          <mat-error class="input-alert" *ngIf="this.createForm.get('name').hasError('minlength')||this.createForm.get('name').hasError('maxlength')">Họ tên từ 4 tới 15 </mat-error>
        </td>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Tuổi</mat-label>
            <input type="number" formControlName="age" matInput placeholder="">
          </mat-form-field>
          <p class="input-alert" *ngIf="createForm.get('age').hasError('required') && createForm.get('age').touched">Cần nhập số  tuổi   </p>
          <p class="input-alert" *ngIf="this.createForm.get('age').hasError('min')" >Không được dưới 18     </p>
          <p class="input-alert" *ngIf="this.createForm.get('age').hasError('max')" >Không ai sống dươc tới tuổi này     </p>
          <!-- <p class="input-alert" *ngIf="this.createForm.get('age').hasError('agesTRING')" >Không được là chữ      </p> -->
          <code>
            {{createForm.get('age').errors|json}}
          </code>
        </td>
      </tr>
    </table>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field *ngIf="!isFetching" class="full-width">
            <mat-label>Trường</mat-label>
            <mat-select formControlName="universityId">
              <mat-option *ngFor="let uni of universities" [value]="uni.id">{{ uni.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <p class="input-alert" *ngIf="createForm.get('universityId').hasError('required') && createForm.get('universityId').touched">Cần nhập Trường   </p>
          <p *ngIf="isFetching">Loading...</p>
        </td>
        <td>
          <mat-form-field *ngIf="!isFetching" class="full-width">
            <mat-label>Phân loại</mat-label>
            <mat-select formControlName="categoriesId">
              <mat-option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <p class="input-alert" *ngIf="createForm.get('categoriesId').hasError('required') && createForm.get('categoriesId').touched">Cần nhập phân loại </p>

          <p *ngIf="isFetching">Loading...</p>
        </td>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+84 &nbsp;</span>
            <input formControlName="phone" type="tel" matInput placeholder="771234567">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <p class="input-alert" *ngIf="this.createForm.get('phone').hasError('maxlength')" >không được quá 10 số     </p>
          <p class="input-alert" *ngIf="this.createForm.get('phone').hasError('minlength')" >không được dưới  10 số     </p>
          <p class="input-alert" *ngIf="createForm.get('phone').hasError('required') && createForm.get('phone').touched">Cần nhập số điện thoại  </p>
          <!-- <p class="input-alert" *ngIf="createForm.controls.errors.get('phone')">Chỉ được nhập số   </p> -->

        </td>
      </tr>
    </table>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Công việc hiện tại</mat-label>
            <input formControlName="job" matInput>
          </mat-form-field>
          <p class="input-alert" *ngIf="createForm.get('job').hasError('required') && createForm.get('job').touched">Cần nhập job </p>
        </td>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Tình trạng hôn nhân</mat-label>
            <input formControlName="marriedStatus" matInput placeholder="">
          </mat-form-field>
          <p class="input-alert" *ngIf="createForm.get('marriedStatus').hasError('required') && createForm.get('marriedStatus').touched">Cần nhập tình trạng  hôn nhân </p>

        </td>
      </tr>
    </table>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Địa chỉ</mat-label>
            <input formControlName="district" matInput placeholder="Ex. Quận 10">
          </mat-form-field>
          <p class="input-alert" *ngIf="createForm.get('district').hasError('required') && createForm.get('district').touched">Cần nhập địa chỉ  </p>

        </td>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Giá 1 shot</mat-label>
            <input type="number" formControlName="price" matInput>
            <span matSuffix>VND</span>
          </mat-form-field>
          <p class="input-alert" *ngIf="createForm.get('price').hasError('required') && createForm.get('price').touched">Cần nhập giá tiền  </p>
          <p class="input-alert" *ngIf="this.createForm.get('price').hasError('min')" >không được dưới  300 nghìn     </p>


        </td>
      </tr>
    </table>
  </form>

</div>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onOkClick()" [mat-dialog-close]="data" [disabled]="createForm.invalid" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
